name: paper2code
channels: [conda-forge, pytorch, nvidia]
dependencies:
  - python=3.11
  - pytorch
  - torchvision
  - cudatoolkit
  - pip
  - pip:
      - jinja2
      - imagehash
      - matplotlib
